@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body{
  background-color: black;

  color: white;
  font-family: "Archivo Black";
}
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1.7rem !important;
}